<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @topic.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<h2>Ideas</h2>
<%= render  @topic.ideas %>

<h2>Add an Idea</h2>
<%= render  "ideas/form" %>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
