<!DOCTYPE html>
<html>
  <head>
    <title>BrainstormApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui inverted menu">
    
      <div class="header item">
        BrainstormApp
      </div>

      <%= link_to 'Topics', topics_path , class: 'item'%>
      <%= link_to 'New', new_topic_path , class: 'item'%>

      <div class="right menu">
        <a class="item"> Sign up </a>
        <a class="item"> Sign in </a>
        <a class="item"> Sign out </a>
      </div>
      
    </div>
    
    <div class="ui container">
      <%= yield %>
    </div>
    
  </body>
</html>
