<!DOCTYPE html>
<html>
  <head>
    <title>BrainstormApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui inverted menu">
    
      <div class="header item">
        <i class="lightbulb icon"></i>
        brainstorm_app
      </div>

      <%= link_to 'Topics', topics_path , class: 'item'%>

      <%if current_user%>
      <%= link_to 'New', new_topic_path , class: 'item'%>
      <%end%>
      
      <div class="right menu">
      <% if current_user %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete , class: 'item' %>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'item'%>
        <%= link_to 'Sign in', new_user_session_path, class: 'item'%>
      <% end %>
      </div>
      
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div class="ui container">
      <%= yield %>
    </div>
    
  </body>
</html>
